@import url("style.css");


.main__text-outPut {
  font-size: 50px;
  padding: 50px;
}

.main__text-inPut {
  position: absolute;
  bottom: 0;
}
.main__text-inPut input {
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
  width: 400px;
  height: 50px;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px #a8c0ff;
}

.main__text-inPut input:focus {
  outline: none;
}

.main__text-btn {
  background-color: #a8c0ff;
  padding: 15px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid white;
  outline-style: none;
}

@media screen and (max-width:768px){
  .main__text-inPut input {
    font-size: 10px;
    width: 200px;
    height: 25px;
    padding: 10px;
  }
  .main__text-btn {
    font-size: 5px;
    padding: 5px;
    margin-left: 10px;
  }
}