@import url("style.css");
a {
  text-decoration: none;
  color: var(--white-color);
}


.main__items-item li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  width: 456px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main__items-item li:hover {
  transition: all 0.1s linear;
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px #a8c0ff;
}

.main__items-item li > a {
  font-size: 2rem;
  color: black;
}

@media screen and (max-width:768px){
  .main__items-item li{
    width: 300px;
  }
}