@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  /* Color */
  --white-color: #ffffff;
  --gray-light-color: #807d7d;
  --blue-color: #3889c4;
  --yellow-color: #ffd600;
  --pink-color: #fd8085;
  /* Size */
  --padding: ;
  --cloth-size: 45px;
  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f2b96,
    #a8c0ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--white-color);
}
.header {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.header__textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 10px 5px 2px gray;
}

.header__textbox i {
  padding-bottom: 10px;
  font-size: 3.5rem;
}

.header__textbox strong {
  font-size: 5rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
